[submodule "libs/acc"]
	path = libs/acc
	url = https://github.com/nmoehrle/libacc.git
[submodule "libs/cacc"]
	path = libs/cacc
	url = https://github.com/nmoehrle/libcacc.git
[submodule "libs/col"]
	path = libs/col
	url = https://github.com/nmoehrle/libcol.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/nmoehrle/libfmt
[submodule "libstat"]
	path = libstat
	url = https://github.com/nmoehrle/libstat.git
	branch = develop
[submodule "libs/stat"]
	path = libs/stat
	url = https://github.com/nmoehrle/libstat.git
	branch = develop
